:root {
    --header-1: 64px;
    --header-2: 48px;
    --subtitle: 36px;
    --body: 22px;
    --c-primary: #cfdac3;
    --c-accent: #e9eaca;
    --c-dark: #222222;
    --c-light: #f6f6f6;
    --c-grey: #dddddd;
    --c-orange: #ff6f37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: var(--c-light);
}
a {
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: var(--header-1);
    font-weight: 700;
}
h2{
    font-size: var(--header-2);
    font-weight: 700;
}
h2{
    font-size: var(--subtitle);
    font-weight: 700;
}
p{
    font-size: var(--body);
    font-weight: 500;
    text-align: justify;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--c-light);
    display: flex;
    justify-content: center;
    padding: 20px 120px;
    align-items: center;
    z-index: 99;
}
.navbar .logo {
    padding: 0px 120px;
}
.navbar .navlinks ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar .navlinks ul .navlink {
    height: 100%;
    margin-right: 24px;
}
.navbar .navlinks ul .navlink:hover {
    color: var(--c-orange);
    transform: translateY(-2px);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 60px;
    width: 100%;
    height: 100vh;
}
.hero .himg {
    width: 50%;
    height: 80vh;
}
.hero .himg img {
    width: 100%;
}
.hero .htxt {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero .htxt p{
    margin: 8px 0px;
}
.btn{
    padding: 10px 20px; 
    margin: 8px 0;
    width: fit-content;
    background-color: var(--c-light);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn.btn-primary {
    background-color: var(--c-primary);
    color: var(--c-dark);
}
.btn.btn-outline{
    background-color: var(--c-light);
    color: var(--c-dark);
    border: 2px solid var(--c-primary);
}

.about {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    width: 100%;
}
.about p{
    margin: 8px 0;
}


.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}
.services .service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.services .service.reverse{
    flex-direction: row-reverse;
}
.services .service .serv-img {
    width: 40%;
}
.services .service .serv-img img {
    width: 100%;
}
.services .service .serv-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services .service .serv-info p{
    margin-top: 14px;
}

.pricing {
    width: 100%;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing .card {
    width: 30%;
    margin: 16px;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 32px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    background-color: var(--c-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing .card.pop {
    position: relative;
    box-shadow: 0px 0px 8px 0px var(--c-primary);
    border: 3px solid var(--c-primary);
}
.pricing .card.pop::before {
    content: 'Most Popular';
    width: 100%;
    top: 0;
    background-color: var(--c-primary);
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
}
.pricing .card h3 {
    text-align: center;
}
.pricing .card ul {
    margin: 16px 0;
    list-style-type: none;
    text-align: center;
}

.pricing .card ul li {
    margin: 8px 0;
}

.contact {
    width: 100%;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .cont-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact .cont-details .icons {
    display: flex;
}
.contact .cont-details .icons .icon {
    margin: 16px 0px;
    margin-right: 12px;
    width: 40px;
}
.contact .cont-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact .cont-form h3 {
    text-align: center;
    margin-bottom: 32px;
}


.contact .cont-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.contact .cont-form form input,
.contact .cont-form form textarea {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid var(--c-grey);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    width: 100%;
}

.contact .cont-form form input::placeholder,
.contact .cont-form form textarea::placeholder {
    color: var(--c-grey);
} 
.contact .cont-form form .btn {
    width: 100%;
}


@media screen and (max-width: 640px) {
    :root {
        --header-1: 48px;
        --header-2: 32px;
        --subtitle: 28px;
        --body: 18px;
    }
    .navbar{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        padding: 20;
    }
    .hero .htxt,
    .hero .himg {
        width: 100%;
        margin: 16px 0;
    }
    .about,
    .services,
    .pricing,
    .contact{
        padding-left: 20px;
        padding-right: 20px;
    }
    .services .service,
    .services .service.reverse 
    .pricing 
    .contact {
        flex-direction: column;
    }
    .services .service .serv-img,
    .services .service .serv-info {
        width: 100%;
        margin: 8px 0px;
    }
    .pricing .card {
        width: 100%;
    }
    .contact .cont-details,
    .contact .cont-form {
        margin-bottom: 16px;
        width: 100%;
    }
    .contact .cont-form form input,
    .contact .cont-form form textarea {
        width: 100%;
    }
}